<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<!-- Core bootstrap -->
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<!-- Estilos custom del template -->
	<link rel="stylesheet" th:href="@{/bootstrap/css/jumbotron.css}">
	<link rel="stylesheet" th:href="@{/bootstrap/css/sticky-footer-navbar}">
<title>Detalle de Trip</title>
</head>
<body>
	<div class="col-md-3">
		<img class="rounded mx-auto d-block" th:src="@{/images/{img} (img=${trip.imagen}) }" alt="">
	</div>
	<div class="card">
		<h4 class="card-header">Trip: <strong th:text="${trip.nombre}"></strong></h4>
		<div class="card-body">
			<h5 class="card-title"><strong>Categoría: </strong><span th:text="${trip.nombre}"></span></h5>
			<h6 class="card-title"><strong>Publicado: </strong><span th:text="${trip.fecha}"></span></h6>
			<h6 class="card-title"><strong>Cosot: </strong><span th:text="${trip.costo}"></span></h6>
			<p class="card-text" th:text="${trip.descripcion}"></p>
		</div>
	</div>
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>